.navbar {
    border-bottom: 1px solid rgb(199, 199, 199);
    background-color: rgba(255, 255, 255, 0.9);
}

.navbar a {
    /* color: black !important; */
}

.navbar .navbar-brand {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
}

.navbar .items {
    /* font-family: Helvetica, sans-serif; */
    /* font-weight: normal; */
    /* font-size: 1rem; */
    min-width: 600px;
    justify-content: space-around;
}

.navbar .items a:hover {
    /* color: rgb(17, 109, 255) !important; */
}

.navbar .social-links {
    font-size: 30px;
    flex-direction: row;
}

.navbar .social-links a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .social-links a:hover {
    /* color: rgb(17, 109, 255) !important; */
}

.navbar .social-links a:first-of-type {
    padding-left: 0;
}

.navbar .social-links a:last-of-type {
    padding-right: 0;
}

/**************** Intro ****************/

.intro h1 {
    font-size: 80px;
}

.intro p {
    font-size: 20px;
}

@media (max-width: 960px) {
    .intro h1 {
        font-size: 9vw;
    }
    .intro p {
        font-size: calc(16px + 0.5vw);
    }
}

@media (max-width: 480px) {
    .intro h1 {
        font-size: 14vw;
    }
    .intro p {
        font-size: 5vw;
    }
}

/**************** About Me ****************/

.aboutMe img {
    border-radius: 0.75rem;
}

@media (max-width: 992px) {
    /* Calculate linear size using the following expression */
    /* P2 - (P2-P1)*W2/(W2-W1) + (P2-P1)/(W2-W1) vw */
    .aboutMe h1 {
        font-size: calc(40px - 16px * 992 / 416 + 1600vw / 416);
    }
    .aboutMe h2 {
        font-size: calc(32px - 12px * 992 / 416 + 1200vw / 416);
    }
    .aboutMe p {
        font-size: calc(136px / 13 + 400vw / 416);
    }
}

@media (max-width: 576px) {
    .aboutMe h1 {
        font-size: 24px;
    }
    .aboutMe h2 {
        font-size: 20px;
    }
    .aboutMe p {
        font-size: 16px;
    }
}

/**************** Featured Projects ****************/

@media (max-width: 992px) {
    /* Calculate linear size using the following expression */
    /* P2 - (P2-P1)*W2/(W2-W1) + (P2-P1)/(W2-W1) vw */
    .featuredProjects h1 {
        font-size: calc(40px - 16px * 992 / 416 + 1600vw / 416);
    }
}

@media (max-width: 576px) {
    .featuredProjects h1 {
        font-size: 24px;
    }
}

.featuredProjects img {
    border-radius: 12px;
    height: 20vw;
    object-fit: cover;
}

@media (max-width: 575px) {
    .featuredProjects img {
        border-radius: 12px;
        height: 40vw;
        object-fit: cover;
    }
}

.featuredProjects .card-footer{
    padding-top: 0;
    border: none;
    background-color: transparent;
}

/**************** Experience ****************/

.experienceHome h2 {
    font-size: 20px;
}

.experienceHome h3 {
    font-size: 18px;
}

@media (max-width: 992px) {
    /* Calculate linear size using the following expression */
    /* P2 - (P2-P1)*W2/(W2-W1) + (P2-P1)/(W2-W1) vw */
    .experienceHome h1 {
        font-size: calc(40px - 16px * 992 / 416 + 1600vw / 416);
    }
}

@media (max-width: 576px) {
    .experienceHome h1 {
        font-size: 24px;
    }
}

/**************** Education ****************/

.educationHome h2 {
    font-size: 20px;
}

.educationHome h3 {
    font-size: 18px;
}

@media (max-width: 992px) {
    /* Calculate linear size using the following expression */
    /* P2 - (P2-P1)*W2/(W2-W1) + (P2-P1)/(W2-W1) vw */
    .educationHome h1 {
        font-size: calc(40px - 16px * 992 / 416 + 1600vw / 416);
    }
}

@media (max-width: 576px) {
    .educationHome h1 {
        font-size: 24px;
    }
}

/**************** Footer ****************/

.footer {
    background-color: rgb(20, 21, 23);
    font-size: 14px;
}

.footer {
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer .social-links i {
    font-size: 24px;
    /* color: rgb(248, 249, 250); */
}

.footer .social-links i:hover {
    /* color: blue; */
}